$background: #FBF1C7;
$foreground: #282828;

* {
  font-family: 'Cascadia Mono';
  font-size: 15px;
  background: transparent;
  color: $foreground;
}

.container {
  .bar {
    margin: 5px;
    margin-bottom: 0;

    .left, .center, .right {
      border-radius: 10px; /* Ajusta el valor para controlar la curvatura de los bordes */
      margin: 0px;
      border: 3px solid $foreground;
    }

    .left {
      padding-right: 14px;
      background-color: $background; /* Color de fondo para .left */
      
      .workspace {
        all: unset;
        min-height: 10px;
        min-width: 25px;
        margin: 0 10px;

        .ws-text {
          font-size: 25px;
          color: $foreground; /* Cambiado a $foreground para mayor visibilidad */

          &.focus {
            color: $foreground;
          }
        }
        .ws-icons {
          font-size: 5px;
        }
      }
    }

    .center {
      padding: 0 48px;
      background-color: $background; /* Color de fondo para .center */
    }

    .right {
      padding: 0 24px;
      background-color: $background; /* Color de fondo para .right */
    }
  }
}

